#wrapper .header {
    background-color: #2a2d33;
    padding: 20px;
    /*margin-bottom: 40px;*/
    height: 100vh;
}

    #wrapper .header .RadMenu {
        margin-top: 30px;
        float: none;
    }

#wrapper .logo {
    margin: 10px 0;
    width: 100%;
    display: inline-block;
}

    #wrapper .logo img {
        max-width: 100%;
    }

#wrapper .footer {
    /*width: 100%;*/
    padding: 30px 15px;
    line-height: 30px;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}
