#wrapper .sidebar {
    background-color: #2a2d33;
    padding: 20px;
    /*margin-bottom: 40px;*/
    height: 100vh;
    position:fixed;
    min-width:120px;
    left:0px;
    bottom:0px;
}

    #wrapper .sidebar .RadMenu {
        margin-top: 30px;
        float: none;
    }

#wrapper .logo {
    margin: 10px 0;
    width: 100%;
    display: inline-block;
}

    #wrapper .logo img {
        max-width: 100%;
    }

#wrapper .footer {
    width: 100%;
    margin-top: 30px;
    padding: 30px 15px;
    line-height: 30px;
}
